.StatementBlock {
    background: 
        url(./img/blue-tr.png) no-repeat 100% 0,
        url(./img/blue-br.png) no-repeat 100% 100%,
        url(./img/blue-tl.png) no-repeat 0 0,
        url(./img/blue-bl.png) no-repeat 0 100%,
        url(./img/blue-l.png) repeat-y 0 0,
        url(./img/blue-r.png) repeat-y 100% 0,
        #4c97ff;
    background-clip: border-box, border-box, border-box, border-box, content-box, content-box, content-box;
    /* border: "2px solid #3971bf", */
    /* borderRadius: 8, */
    min-height: 40px;
    min-width: 120px;
    margin-left: 30px;
    color: white;
    padding: 20px 0;
    position: relative;
    margin-bottom: -16px;
}

.StatementBlock::before {
    content: "";
    background: url(./img/blue-t.png) repeat-x, url(./img/blue-b.png) repeat-x;
    background-position: 0 0, 0 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 90px;
    right: 8px;
}

.StatementBlock.red {
    background-image: 
        url(./img/red-tr.png),
        url(./img/red-br.png),
        url(./img/red-tl.png),
        url(./img/red-bl.png),
        url(./img/red-l.png),
        url(./img/red-r.png),
        none;
    background-color: #f55d3e;
}

.StatementBlock.red::before {
    background-image: url(./img/red-t.png), url(./img/red-b.png);
}

.StatementBlock.green {
    background-image: 
        url(./img/green-tr.png),
        url(./img/green-br.png),
        url(./img/green-tl.png),
        url(./img/green-bl.png),
        url(./img/green-l.png),
        url(./img/green-r.png),
        none;
    background-color: #40bf4a;
}

.StatementBlock.green::before {
    background-image: url(./img/green-t.png), url(./img/green-b.png);
}

.StatementBlock.highlight::after {
    content: "";
    background: url(./img/highlight.png) no-repeat;
    display: block;
    position: absolute;
    height: 19px;
    width: 100%;
    bottom: 0;
}

.StatementBlock.dragging {
    opacity: 0.5;
}

.StatementBlock.active {
    box-shadow: 0 0 0 3px #FFFF00C0;
    z-index: 1;
    border-radius: 8px;
}

/* .StatementBlock.active::after {
    content: "";
    position: absolute;
    background-color: #FFFF0080;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    border-radius: 8px;
} */

.StatementBlock-inner {
    margin: 10px;
    /* for stacking context */
    position: relative;
}